<div class="demo-assessment">
  <h4 class="question"><%= nl2br question_content[:stem] %></h4>

<% unless question_content[:answers].empty? %>
  <div class="answer_choices">
    <% answer_letter_code = "a".ord-1 %>
    <table width="100%">
      <% question_content[:answers].each do |ac| %>
        <tr>
          <td class="answer_choice_index" width="5%">
            <p><%= (answer_letter_code += 1).chr %>)</p>
          </td>
          <td class="answer_choice" width="95%">
            <%= ac[:content].html_safe %> <% if ac[:score] == 1.0 %>✅<% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<h4>Solutions</h4>
  <ul>

  <li class="solution">
    <%= nl2br question_content[:solution] %>
  </li>
  </ul>
</div>
