<%= style.html_safe %>

<div class="tp-assessment">
  <h4 class="question"><%= nl2br question_content[:stimulus] %></h4>

  <h4>Solutions</h4>
  <ul>
  <li class="solution">
    <%= nl2br solution %>
  </li>
  </ul>
</div>
