<div class="demo-assessment">
  <h4 class="question"><%= nl2br question %></h4>
  <ul>
  <% solutions.each do |solution| %>
  <li class="solution">
    <% if correct_solution == solution %>✅<% end %>
    <%= nl2br solution %>
  </li>
  <% end %>
  </ul>
</div>
