<% choice = 'a' -%>
<div class="demo-assessment">
  <h4 class="question"><%= nl2br question %></h4>
  <ul>
  <% solutions.each do |solution| %>
  <div class="solution">
    <%= choice %>)
    <% if correct_solution == solution %>✅<% end %>
    <%= nl2br solution %>
  </div>
  <% choice = choice.next -%>
  <% end -%>
  </ul>
</div>
