<h5>
  Use of the Assessment Network is currently limited to pilot partners who are party
  to an agreement with Rice University; please consult those agreements for usage guidelines
  and information.
</h5>
