<!DOCTYPE html>
<html>
  <head>
    <title>API Docs</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'docs' %>
    <%= stylesheet_pack_tag 'docs' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
