<!DOCTYPE html>
<html>
  <head>
    <title>A15K</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div id="application-root">
      <%= yield %>
    </div>
  </body>
</html>
